.playButton {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.total {
  background-color: #333;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid #444;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.playButton:hover {
  background-color: #333;
}

.board h3 {
  border-radius: 10px;
  padding: 0.2em;
  margin: 0.5em auto;
}

.boardP {
  color: white;
  cursor: pointer;
  width: 50%;
  margin: 0.5em auto;
  padding: 0.5em;
  border-radius: 0.5em;
}

@media (max-width: 992px) {
  .board {
    margin: 0 1em;
    padding: 0.5em;
  }

  .containerBoard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .boardP {
    color: white;
    cursor: pointer;
    width: 50%;
    margin: 0.2em;
    padding: 0;
  }

  .total {
    padding: 6px;
  }
}
